@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
body{
}
body >div {
  font-family: 'Mulish', sans-serif;

  /* font-size: 20px; */
 
}
#text{
  font-size: 30px;
  font-weight: bold;
/* color: red; */
}
#blue{
  color: dimgray;
}
#M-Navbar{
  color: #007bff;
 padding: 4.2%;
 z-index: 999;
 
}
p{
  color:black
}
h3{
  color:#007bff

}


.pad{
  padding: 10%;
  
}
#M{
  padding: 70px;
  background-color: #02c9c9;
  color: whitesmoke;
  font-size: 30px;
}
#p{
  background-color: #ffc300;
  /* color: darkred; */
text-transform:capitalize;
  text-decoration: none;
  /* font-size: 30px; */
}
#about{
  padding: 2%;
  color: #ffc300;
  background-color: #333;
}
#inside-about{
  /* padding: 2%; */
  color: white;
  /* background-color: #333; */
}